*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ajuste mieux les boites, meilleure organisation */
    list-style: none;
    color: whitesmoke;
}

/* Fonts téléchargée sur Google et mis dans le dossier puis importée dans le projet
https://fonts.google.com/specimen/DM+Serif+Display?query=dm+ser */
@font-face {
    font-family: "Antonio";
    src: url(./assets/fonts/Antonio/Antonio-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Audiowide";
    src: url(./assets/Fonts/Audiowide/Audiowide-Regular.ttf);
}
@font-face { 
    font-family: "Honk";
    src: url(./assets/Fonts/Honk/Honk-Regular-VariableFont_MORF\,SHLN.ttf);
}
@font-face { 
    font-family: "Jersey25";
    src: url(./assets/Fonts/Jersey_25/Jersey25-Regular.ttf);
}
@font-face { 
    font-family: "Jersey25Charted";
    src: url(./assets/Fonts/Jersey_25_Charted/Jersey25Charted-Regular.ttf);
}
@font-face { 
    font-family: "OdibeeSans";
    src: url(./assets/Fonts/Odibee_Sans/OdibeeSans-Regular.ttf);
}
@font-face { 
    font-family: "Saira";
    src: url(./assets/Fonts/Saira/Saira-VariableFont_wdth\,wght.ttf);
}
@font-face { 
    font-family: "Tektur";
    src: url(./assets/Fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf);
}



body{
    background-color: #191A1F;
}

nav{
    background: #191A1F;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav ul{
display: flex;
justify-content: space-evenly;  
}
nav a, nav #language{
    height: 86%;
    font-family: "Audiowide";
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration:none;
    user-select : none;

    cursor: pointer;
    transition: 0.3s ease;
    margin: 5px 2%;
}

nav li{
    position: relative;
}


#language{
    background: #292E42;
    
    padding: 5px 15px;
    border-radius: 15px;

}

header{
    background: url(./assets/img/earth-galaxy-elements-this-image-furnished-by-nasa.jpg) fixed center/cover;
}

#CODE{
    height: 36px;
    background: #578EF8;
    display: flex;
    align-items: center;
    justify-content: center;

}
#CODE p{
    font-family: Audiowide;
    font-size: 14px;
    user-select : none;

}

p mark {
    letter-spacing: 3px;
    background-color: #292E42;
    user-select: all;
    font-size: 16px;
}
p mark::selection {
    background: white;
    color: black;
  }

.main-header, .second-header{
    background: linear-gradient(217deg, rgba(0, 0, 0, 0.884), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0, 0, 0, 0.795), rgba(0,255,0,0) 70.71%),
            linear-gradient(360deg, rgba(192, 86, 0, 0.352), rgba(0,0,255,0) 70.71%);
    height: 35vh;
    text-align: center;  
    padding: 60px;
}


/* body:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0;
    background-color: rgb(17, 17, 17);
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.15s;
} */

@keyframes animBefore {
    to {
      opacity: 0;
    }
}

#section1 p{
    font-family: "Tektur";
    font-size: 1rem;
    text-align: center;  
    margin: 0px 10%; 
    padding: 40px;
    
}


.charts{
    display: grid;
    justify-items: center;
}



.charts h2{
    font-family: "Audiowide";

    font-size: 2rem;
    margin: 30px;
    margin-top: 140px;
}
.charts h3{
    color: whitesmoke;
    font-family: "Tektur";     
    font-size: 1rem;
}
.charts span{
    font-family: "Tektur";
    margin-bottom: 20px;

}
.civsData{
display: flex;
}

.civsData section{
    padding: 25px;
}

.civs, .cydroids, .jewels, .essence, .geos, .lands, .ether{
    background-color: whitesmoke;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    /*box-shadow: 7px 7px 5px #578df86a;*/
}
.statsSpan, .geos, .lands, .landsData{
    margin-bottom: 20px;
}



footer{
    margin-top: 200px;
    display: flex;
    justify-content: end;

    font-family: "Tektur";

    color: white;
    
}

footer a{
    color: #578EF8;
}

#burgerMenu{
    position: absolute;
    visibility: hidden;
    font-size: 1.8rem;
    z-index: 4;
}


/* ************** MEDIA QUERIES ************** */


@media screen and (max-width: 750px) { /* Tablette, actif si max-width à 1000px */
    nav{
        display: block;
    }
    #burgerMenu{
        visibility: visible;
    }
    #home{
        display: flex;
        justify-content: center;
    }
    #menu{
        position: absolute;
        background-color: #191A1F;
        width: 200px;
        height: 100%;
        transition: 1.2s ease-out;
        left: -200px; /* */
    }#menu.active{
        left: 0px;
    }
    #menu li{
        margin-left: auto;
        margin-right: auto;
    }
    nav a {
        font-size: 1.2rem;
     }
     nav ul{
        flex-direction: column; 
    }
     #CODE{
         height: 46px;    
     }  
}


canvas  {
    background-color: #191A1F;
    border-width: 5px;
    margin: 1px;
    padding: 10px;
  }
.essenceData{
    padding-bottom: 15px;
}

